In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/sales_subset.csv', sep=',')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [4]:
df.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [5]:
df.sort_values("weekly_sales", ascending=False)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
6201,6201,14,A,92,2010-02-05,293966.05,False,-2.605556,0.735455,8.992
4271,4271,10,B,72,2010-02-05,232558.51,False,12.411111,0.782478,9.765
4281,4281,10,B,72,2010-12-03,218559.54,False,10.650000,0.803348,9.003
6202,6202,14,A,92,2010-03-05,214383.07,False,2.850000,0.733606,8.992
6237,6237,14,A,95,2010-02-05,213042.66,False,-2.605556,0.735455,8.992
...,...,...,...,...,...,...,...,...,...,...
517,517,1,A,47,2010-03-12,-698.00,False,14.327778,0.704547,8.106
4110,4110,10,B,47,2010-03-05,-798.00,False,13.288889,0.760023,9.765
4115,4115,10,B,47,2010-10-15,-798.00,False,24.155556,0.813650,9.003
1422,1422,2,A,47,2010-10-15,-1098.00,False,18.777778,0.718548,8.163
1420,1420,2,A,47,2010-07-30,-1098.00,False,28.605556,0.697415,8.099

In [6]:
# This transformations must be executed in the original df, not on a subset, at least not this way.
df['fuel_price_cup'] = df['fuel_price_usd_per_l'] * 120
df.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,fuel_price_cup
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,81.534101
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106,83.214236
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808,86.194098
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808,89.871375
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808,85.750289

In [7]:
# Getting a subset based on individuals and state_pop values
df_filtered = df[ (df['weekly_sales'] > 206930.00) & (df['fuel_price_usd_per_l'] > 0.70) ]
df_filtered

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,fuel_price_cup
4271,4271,10,B,72,2010-02-05,232558.51,False,12.411111,0.782478,9.765,93.897359
4281,4281,10,B,72,2010-12-03,218559.54,False,10.650000,0.803348,9.003,96.401711
6201,6201,14,A,92,2010-02-05,293966.05,False,-2.605556,0.735455,8.992,88.254641
6202,6202,14,A,92,2010-03-05,214383.07,False,2.850000,0.733606,8.992,88.032736
6210,6210,14,A,92,2010-11-05,206935.29,False,7.583333,0.770590,8.724,92.470829
6237,6237,14,A,95,2010-02-05,213042.66,False,-2.605556,0.735455,8.992,88.254641

In [8]:
# df['weekly_sales'].max()
# df['weekly_sales'].min()
df_filtered[['weekly_sales', 'fuel_price_usd_per_l']].mean()

weekly_sales            229907.520000
fuel_price_usd_per_l         0.760155
dtype: float64

In [9]:
def added(column):
    return column.mean() - 20000

df['weekly_sales'].agg(added)

3843.9501485056608

In [20]:
df["store"].describe()

count    10774.000000
mean        15.441897
std         11.534511
min          1.000000
25%          4.000000
50%         13.000000
75%         20.000000
max         39.000000
Name: store, dtype: float64

In [18]:
# Removing duplicates
unique_stores_df = df.drop_duplicates(subset=["store", "department"])
# print(unique_stores_df)
unique_stores_df["store"].value_counts(sort=True)

13    79
19    79
2     78
4     78
20    78
27    78
1     77
6     77
10    77
14    77
31    76
39    75
Name: store, dtype: int64